html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




body {
    font-size: 16px;
    line-height: 1.4;
    color: #343A40;
    font-family: 'Inter', sans-serif;
    padding-top: 76px;
}


a {
    transition: 0.25s
}


.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.25s ease;
}


.main__content {
    padding: 32px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1255px;
}


.title_x {
    font-weight: bold;
    font-size: 40px;
    text-align: center;

    &--left {
        text-align: left;
    }
}



.form__field {
    position: relative;
    margin-bottom: 16px;

    &--btn {
        margin-bottom: 0;

        button {
            width: 100%;
            justify-content: center;
        }
    }

    input {
        width: 100%;
        padding: 14px 20px;
        line-height: 1;
        border: 1px solid rgba(#000, 0.3);
        border-radius: 4px;
        -webkit-appearance: none;
    }

    textarea {
        width: 100%;
        padding: 14px 20px;
        line-height: 1.5;
        border: 1px solid rgba(#000, 0.3);
        border-radius: 4px;
        resize: vertical;
        min-height: 100px;
        -webkit-appearance: none;
    }
}



.modal__default {
    display: none;
    padding: 0;
    max-width: 620px;
    width: 100%;
}

.header_main {
    padding: 8px 0;
    background: #f4f4f4;
    border-bottom: 1px solid #96b0db;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    transition: 0.25s ease-in-out;
    z-index: 10;

}

.header__logo {
    display: flex;
    width: 220px;
}

.header_main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu__list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__menu {
    flex: 1;
    justify-content: center;
    display: flex;
    padding-left: 150px;
    padding-right: 20px;
}

.header__menu__list a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: inherit;
    text-decoration: none;
}


.header__btn_menu {
    display: none;
}

.btn__quote {
    padding: 12px 48px;
    display: inline-block;
    text-decoration: none;
    background: #6181B6;
    border-radius: 1px;
    color: #fff;
    font-weight: 500;
}

.header__phone {
    margin-right: 23px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #34568D;
    text-decoration: none;
}

.header__phone svg {
    margin-right: 25px;
}

.header__phone svg {
    margin-right: 9px;
}

.promo__section__info {
    padding: 380px 0 219px;
    color: #fff;
}

.promo__section__slider__item {
    background-size: cover;
    background-position: 50% 0;
}

.promo__section__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;

    /* White */
    color: #FFFDF9;
    position: relative;
    margin-bottom: 22px;
}

.promo__section__title:before {
    content: '';
    position: absolute;
    top: -21px;
    width: 135px;
    height: 2px;
    background: #fff;
    left: 0;
}

.btn__promo {
    width: 290px;
    display: inline-block;
    padding: 10px 10px 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #EA6A29;
    border-radius: 1px;
}

.welcome__section__row {
    display: flex;
    flex-wrap: wrap;
}

.welcome__section__2 {
    min-height: 900px;
    padding: 119px 0px 110px 102px;
    background: #000;
    background-image: url('../images/welcome.jpg');
    width: calc(48.15% + (100vw - 1190px) / 2);
    margin-right: calc(-1 * (100vw - 1190px) / 2);
    color: #fff;
    background-size: cover;
    background-position: 50%;
}

.welcome__section__2__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 30px;
    position: relative;
}

.welcome__section__1 {
    width: 50.85%;
    padding: 130px 97px;
}

.welcome__section {
    overflow: hidden;
}

.welcome__section__2__info {
    max-width: 500px;
}

.welcome__section__1__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.welcome__section__1__item__image {
    display: flex;
    margin-bottom: 7px;
}

.welcome__section__1__item {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.welcome__section__1__item__title {
    font-weight: bold;
    margin-bottom: 18px;
}

.welcome__section__1__item__text {
    font-size: 14px;
    max-width: 310px;
    line-height: 1.25;
}

.welcome__section__2__text {
    font-size: 18px;
    line-height: 1.225;
    color: #FFFFFF;
    max-width: 300px;
}

.welcome__section__2__text p {
    margin-bottom: 23px;
}

.welcome__section__2__title:before {
    content: '';
    position: absolute;
    top: -20px;
    width: 90px;
    height: 2px;
    background: #fff;
    left: 0;
}

.service__section {
    background: #F4F4F4;
    padding: 105px 0 90px;
}

.section__title_x {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    position: relative;
    margin-bottom: 60px;
}

.section__title_x:before {
    content: '';
    width: 90px;
    top: -20px;
    background: #000;
    height: 2px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.service__section__list {
    display: flex;
    gap: 20px;
}

.service__section__item {
    display: flex;
    width: 100%;
    position: relative;
}


.service__section__item__info {
    position: absolute;
    z-index: 2;
    color: #fff;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    margin: auto;
    right: 0;
    left: 0;
}

.btn_x {
    max-width: 215px;
    display: inline-block;
    padding: 10px 10px 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #ea6a29;
    border-radius: 1px;
    width: 90%;
}

.btn_x:hover {
    background: #6281b6;
}

.service__section__item__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
}

.service__section__item__info .btn_x {
    max-width: 160px;
    top: calc(100% + 40px);
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    padding: 12px;
    opacity: 0;
    transform: translate(0, 20px);
}

.service__section__item:hover .btn_x {
    opacity: 1;
    transform: translate(0, -20px);
}


.service__section__item__inner {
    padding-top: 151%;
    width: 100%;
    position: relative;
}

.service__section__item__inner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.service__section__item__title:before,
.service__section__item__title:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    width: 80px;
    background: #fff;
    height: 2px;
    margin: auto;
    top: -17px;
}

.service__section__item__title:after {
    bottom: -17px;
    top: auto;
}

.about__section {
    padding: 100px 0 90px;
}

.about__section__tab {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: -23px;
    margin-bottom: 42px;
}

.about__section__tab a {
    color: inherit;
    text-decoration: none;
    font-weight: 300;
}

.about__section__tab a.active {
    font-weight: 600;
}

.about__section__tab__content {
    max-width: 380px;
    margin: 0 auto 39px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 138.52%;
}

.about__section__tab__content__item {
    display: none;
    color: #555555;
    font-weight: 300;
}

.about__section__tab__content__item.active {
    display: block;
}

.btn__contact__about {
    width: 186px;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
    padding: 12px;
    color: inherit;
    text-decoration: none;
    background: #EA6A29;
    border-radius: 1px;
    color: #FFFDF9;
}

.delivery__section__number {
    background: #6181B6;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    width: calc(45% + (100vw - 1215px) / 2);
    margin-right: calc(-1 * (100vw - 1215px) / 2);
}

.delivery__section__number__item {
    border: 1.5px solid #fff;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.delivery__section__row {
    display: flex;
}

.delivery__section__image {
    width: 55%;
    width: calc(55% + (100vw - 1215px) / 2);
    margin-left: calc(-1 * (100vw - 1215px) / 2);
}

.delivery__section {
    position: relative;
    background: #6281b6;
    margin-bottom: 90px;
}

.delivery__section__number__item:nth-child(2n + 1) {
    border-left: 0;
}

.delivery__section__number__item:nth-child(2n) {
    border-right: 0;
}

.delivery__section__number__item__value {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.25;
    margin-bottom: 5px;
}

.delivery__section__number__item__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.15;
    text-transform: uppercase;
}

.testimonials__section {
    background: url('../images/testimonials.jpg');
    padding: 100px 0 185px;
    background-size: cover;
    background-position: 50%;
    color: #fff;
}

.section__title_x--testimonials:before {
    background: #fff;
}

.promo__section__slider button {
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    background: transparent;
    font-size: 0;
    border-radius: 50%;
    transition: 0.25s;
}

.promo__section__slider ul {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slick-dots .slick-active button {
    background: #fff;
}

.slick-dots button:hover {
    opacity: 0.5
}

.btn__promo:hover {
    background: #6281b6;
}

.btn__contact__about:hover {
    background: #6281b6;
}

.about__section__tab a:hover {
    color: #ea6a29;
}

.btn__quote:hover {
    background: #ea6a29;
}

.header__phone:hover {
    color: #ea6a29;
}

.header__phone:hover path {
    stroke: #ea6a29;
}

.header__phone path {
    transition: 0.25s;
}

.header__menu__list a:hover {
    color: #ea6a29;
}


.service__section__item:hover .service__section__item__inner {
    filter: blur(10px);
    transform: scale(1.25);
}

.service__section__item {
    transition: 0.25s;
    overflow: hidden;
}

.service__section__item:hover .service__section__item__title {
    transform: translate(0, -24px);
}

.service__section__item__title {
    transition: 0.25s;
}

.service__section__item__inner {
    transition: 0.25s;
}

.delivery__section__image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.testimonials__section__slider__item__inner {
    max-width: 710px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
}

.testimonials__section__slider__item__inner:before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='76' viewBox='0 0 70 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3359 54.7891V43.1406C10.3359 38.6562 11.0469 34.5 12.4688 30.6719C14 26.8437 16.5703 23.0703 20.1797 19.3516L26.5781 24.1094C24.1719 26.7344 22.4219 29.1953 21.3281 31.4922C20.2344 33.6797 19.5781 35.8672 19.3594 38.0547H27.0703V54.7891H10.3359Z' fill='white'/%3E%3Cpath d='M39.8672 54.7891V43.1406C39.8672 38.6562 40.5781 34.5 42 30.6719C43.5313 26.8437 46.1016 23.0703 49.7109 19.3516L56.1094 24.1094C53.7031 26.7344 51.9531 29.1953 50.8594 31.4922C49.7656 33.6797 49.1094 35.8672 48.8906 38.0547H56.6016V54.7891H39.8672Z' fill='white'/%3E%3C/svg%3E%0A");
    content: '';
    width: 70px;
    height: 71px;
    display: inline-block;
}

.slick-disabled {
    opacity: 0;
    pointer-events: none;
}

.testimonials__section__slider {
    margin-top: -20px;
}

.testimonials__section__slider__item__text {
    line-height: 1.25;
    margin-bottom: 38px;
}

.testimonials__section__slider__item__name {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.testimonials__section__slider__item__location {
    font-weight: 300;
}

.testimonials__section__slider .slick-arrow {
    position: absolute;
    top: 42.5%;
    transform: translate(0, -50%);
    left: 0;
    background-size: 75%;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0;
    right: 0;
}


.testimonials__section__slider .slick-next {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 36L30 24L18 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    right: 130px;
    left: auto;
}

.testimonials__section .container {
    position: relative;
}

.testimonials__section__slider .slick-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 36L18 24L30 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    left: 130px;
}

.contact__section {}

.contact__section__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #2F2F2F;
    text-align: center;
    position: relative;
}

.contact__section__top {
    padding: 75px 0 55px;
    background: #F4F4F4;
}

.contact__section__title:before {
    content: "";
    width: 90px;
    top: -18px;
    background: #000;
    height: 2px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.contact__section__contact__inner__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 40px;
}

.contact__section__contact__inner {
    padding: 90px 0;
}

.contact__section__contact__icon {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 810px;
    gap: 0 20px;
    margin-top: -5px;
    margin-bottom: 35px;
}

.contact__section__contact__icon__item {
    display: flex;
    align-items: center;
    width: 190px;
    font-size: 14px;
}

.contact__section__contact__icon__item__text__row {
    display: flex;
    flex-wrap: wrap;
}

.contact__section__contact__icon__item__text__row p {
    width: 50%;
}

.contact__section__contact__icon__item:nth-child(3) {
    flex: 1;
}

.contact__section__contact__form {
    max-width: 600px;
    margin: 0 auto;
}

.contact__section__contact__icon__item a {
    color: inherit;
    text-decoration: none;
}

.contact__section__contact__icon__item__text {
    margin-left: 20px;
    flex: 1;
}

.contact__section__contact__icon__item:nth-child(2) {
    width: 250px;
}

.contact__section__contact__form form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
}

.contact__field {
    width: calc(100% /2 - 10px);
}

.contact__field label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact__field input {
    padding: 12px 10px;
    margin-top: 0px;
}

.contact__field--full {
    width: 100%;
}

.contact__field textarea {
    padding: 10px;
    height: 100px;
    resize: vertical;
}


.contact__field input.btn__submit {
    margin: 0 auto;
    max-width: 190px;
    display: block;
    width: 100%;
    background: #EA6A29;
    border-radius: 1px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #FFFDF9;
    border: none;
    padding: 15px;
}

.contact__add__block {
    padding: 60px 0;
    text-align: center;
    background: #34558D;
    color: #fff;
}

.contact__add__title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}

.contact__add__more {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.contact__add__more svg {
    margin-right: 5px;
}

.main_footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_footer__menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

footer.main_footer {
    padding: 20px 0;
    background: #283549;
    color: #fff;
}

.modal__menu {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    max-width: 320px;
    background: #fff;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: z-index 0s ease-in-out .4s, opacity 0s ease-in-out .4s, transform .4s ease-in-out;
    transform: translate(-100%, 0);
}

.main_footer__menu a {
    color: inherit;
    text-decoration: none;
}

.main_footer__menu {
    width: 350px;
}

.main_footer__copyright {
    width: 350px;
    text-align: right;
    font-weight: 300;
}

.main_footer__menu a:hover {
    color: #ea692a;
}

.contact__add__more:hover {
    color: #ea692a;
}

.contact__add__more:hover path {
    fill: #ea692a;
}

.contact__add__more path {
    transition: 0.25s;
}

.contact__field input.btn__submit {
    cursor: pointer;
    transition: 0.25s;
}

.contact__field input.btn__submit:hover {
    background: #6281b6;
}

.testimonials__section__slider .slick-arrow {
    z-index: 5;
    transition: 0.25s;
}

.testimonials__section__slider .slick-arrow:hover {
    opacity: 0.5;
}

.btn_menu span {
    background: #000000;
    width: 75%;
    height: 2px;
    position: absolute;
    border-radius: 5px;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: .5s;
}

.btn_menu span:nth-child(1) {
    transform: translate(0, -9px);
}

.btn_menu span:nth-child(3) {
    transform: translate(0, 9px);
}

.btn_menu span:nth-child(3) {
    transform: translate(0, 8px)
}


.btn_menu.active span:nth-child(1) {
    transform: translate(0, 0) rotate(45deg)
}

.btn_menu.active span:nth-child(2) {
    opacity: 0
}

.btn_menu.active span:nth-child(3) {
    transform: translate(0, 0) rotate(-45deg)
}

.header__btn_menu {
    position: relative;
    background: transparent;
    border: none;
}


.active.modal__menu {
    transition: z-index 0s ease-in-out 0s, opacity 0s ease-in-out 0s, transform .4s ease-in-out;
    opacity: 1;
    pointer-events: all;
    z-index: 11;
    transform: translate(0, 0);
}


.modal__menu__overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 9;
}

.modal__menu__inner {
    flex-direction: column;
    display: flex;
    padding: 20px;
}


.modal__menu__nav {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

.modal__menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.modal__menu__list a {
    color: inherit;
    text-decoration: none;
}

.modal__menu__list a:hover {
    color: #ea692a;
}

.btn__modal__menu {
    background: #ea692a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    padding: 13px;
    max-width: 200px;
}

.btn__close:before,
.btn__close:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 60%;
    height: 2px;
    background: #000000;
    transform: rotate(-45deg);
}

.btn__close:after {
    transform: rotate(45deg);
}

.btn_menu span {
    background: #000000;
    width: 75%;
    height: 2px;
    position: absolute;
    border-radius: 5px;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: .5s;
}

.btn_menu span:nth-child(1) {
    transform: translate(0, -9px);
}

.btn_menu span:nth-child(3) {
    transform: translate(0, 9px);
}

.btn_menu span:nth-child(3) {
    transform: translate(0, 8px)
}


.btn_menu.active span:nth-child(1) {
    transform: translate(0, 0) rotate(45deg)
}

.btn_menu.active span:nth-child(2) {
    opacity: 0
}

.btn_menu.active span:nth-child(3) {
    transform: translate(0, 0) rotate(-45deg)
}

.header__btn_menu {
    position: relative;
    background: transparent;
    border: none;
}




.modal__menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: 0.25s;
}

.modal__menu__overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 9;
}


.modal__menu__top__logo {
    display: flex;
    width: 140px;
}

.btn__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
}

.modal__menu__top {
    margin-bottom: 32px;
}



.modal__menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.modal__menu__list a {
    color: inherit;
    text-decoration: none;
}

.modal__menu__list a:hover {
    color: #ea692a;
}

.btn__modal__menu {
    background: #ea692a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    padding: 13px;
    max-width: 200px;
}

.btn__close:before,
.btn__close:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 60%;
    height: 2px;
    background: #000000;
    transform: rotate(-45deg);
}

.btn__close:after {
    transform: rotate(45deg);
}

.docs__block__item__icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath style='' d='M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z' fill='%23e2e5e7' data-original='%23e2e5e7' class=''%3E%3C/path%3E%3Cpath style='' d='M384,128h96L352,0v96C352,113.6,366.4,128,384,128z' fill='%23b0b7bd' data-original='%23b0b7bd'%3E%3C/path%3E%3Cpolygon style='' points='480,224 384,128 480,128 ' fill='%23cad1d8' data-original='%23cad1d8'%3E%3C/polygon%3E%3Cpath style='' d='M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16 V416z' fill='%23f15642' data-original='%23f15642'%3E%3C/path%3E%3Cg%3E%3Cpath style='' d='M101.744,303.152c0-4.224,3.328-8.832,8.688-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48 c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.688-3.184-8.688-8.816V303.152z M118.624,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504c0-8.944-6.784-16.368-15.36-16.368H118.624z' fill='%23ffffff' data-original='%23ffffff'%3E%3C/path%3E%3Cpath style='' d='M196.656,384c-4.224,0-8.832-2.304-8.832-7.92v-72.672c0-4.592,4.608-7.936,8.832-7.936h29.296 c58.464,0,57.184,88.528,1.152,88.528H196.656z M204.72,311.088V368.4h21.232c34.544,0,36.08-57.312,0-57.312H204.72z' fill='%23ffffff' data-original='%23ffffff'%3E%3C/path%3E%3Cpath style='' d='M303.872,312.112v20.336h32.624c4.608,0,9.216,4.608,9.216,9.072c0,4.224-4.608,7.68-9.216,7.68 h-32.624v26.864c0,4.48-3.184,7.92-7.664,7.92c-5.632,0-9.072-3.44-9.072-7.92v-72.672c0-4.592,3.456-7.936,9.072-7.936h44.912 c5.632,0,8.96,3.344,8.96,7.936c0,4.096-3.328,8.704-8.96,8.704h-37.248V312.112z' fill='%23ffffff' data-original='%23ffffff'%3E%3C/path%3E%3C/g%3E%3Cpath style='' d='M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z' fill='%23cad1d8' data-original='%23cad1d8'%3E%3C/path%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.docs__block__item {
    display: inline-flex;
    align-items: center;
    width: calc(100% / 2 - 20px);
    color: #000;
    padding: 20px;
    background: #f0f0f0;
}

.docs__block__item__title {
    flex: 1;
    font-size: 14px;
    max-width: 350px;
    padding-left: 25px;
}

.docs__block__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 26.5px 26.5px;
}

.docs__block {
    padding: 100px 0 100px;
}

.docs__block__text {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.docs__block__item:hover {
    text-decoration: none;
    color: #ffffff;
    background: #6281b6;
}



@media screen and (max-width: 1250px) {
    .welcome__section__2 {
        margin-right: -20px;
        width: calc(49.15% + 20px);
        padding: 100px 50px;
    }

    .delivery__section__number__item__value {
        font-size: 32px;
    }

    .delivery__section__image {
        margin: 0;
        width: 45%;
    }

    .delivery__section .container {
        padding: 0;
    }

    .delivery__section__number {
        width: 55%;
        margin: 0;
    }

    .delivery__section__number__item {
        padding: 40px 20px;
    }

    .delivery__section__number__item__text {
        font-size: 14px;
    }
}

@media screen and (max-width: 1100px) {
    .testimonials__section__slider .slick-next {
        right: 0;
    }

    .testimonials__section__slider .slick-prev {
        left: 0;
    }

    .testimonials__section {
        padding: 100px 0 90px;
    }

    .testimonials__section__slider__item__inner {
        max-width: 500px;
    }

    .service__section__list {
        flex-wrap: wrap;
        gap: 30px;
    }

    .service__section__item {
        width: calc(100% / 2 - 15px);
    }

    .header__menu {
        padding-left: 20px;
    }

    .promo__section__info {
        padding: 250px 0 100px;
    }

    .header__logo {
        width: 195px;
    }

    .header_main {
        padding: 11px 0;
    }

    .header__menu__list a {
        font-size: 14px;
    }

    .btn__quote {
        font-size: 14px;
        padding: 10px 32px;
    }

    .header__phone {
        font-size: 14px;
    }

    .header__phone svg {
        width: 18px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 900px) {
    body {
        padding-top: 65px;
    }

    .delivery__section__row {
        flex-direction: column-reverse;
    }

    .delivery__section__image {
        width: 100%;
    }

    .delivery__section__image img {
        height: auto;
    }

    .delivery__section__number {
        width: 100%;
        margin-bottom: -2px;
    }

    .promo__section__title {
        font-size: 32px;
        line-height: 1.35;
    }

    .btn__promo {
        width: 220px;
    }

    .promo__section__info {
        padding: 200px 0 100px;
    }

    .promo__section__slider button {
        width: 16px;
        height: 16px;
    }

    .header__logo {
        width: 165px;
    }

    .header__menu {
        display: none;
    }

    .header__btn_menu {
        display: flex;
        width: 40px;
        height: 40px;
    }

    .header__info {
        flex: 1;
        justify-content: flex-end;
        margin-right: 20px;
        margin-left: 20px;
    }

    .btn__quote {
        padding: 9px 25px;
    }

    .welcome__section__1 {
        width: 100%;
        padding: 75px 0;
    }

    .welcome__section__1__item {
        width: calc(50% - 10px);
        flex: 1;
        flex-basis: 250px;
    }

    .welcome__section__1__list {
        flex-direction: revert;
        flex-wrap: wrap;
        gap: 40px 20px;
    }

    .welcome__section__2 {
        width: calc(100% + 40px);
        margin: 0 -20px;
        min-height: 0;
        background-size: cover;
        background-position: 50%;
        padding: 100px 20px;
    }

    .welcome__section__2__info {
        max-width: 100%;
    }

    .welcome__section__2__text {
        max-width: 500px;
    }

    .main_footer .container {
        flex-direction: column;
        align-items: center;
    }

    .main_footer__logo {
        order: -1;
        margin-bottom: 16px;
    }

    .main_footer__copyright {
        width: auto;
        margin-top: 15px;
    }

    .main_footer__menu {
        width: auto;
    }

    footer.main_footer {
        padding: 25px 0;
        font-size: 14px;
    }

    .contact__section__title {
        font-size: 32px;
    }

    .contact__section__contact__icon__item:nth-child(3) {
        width: 100%;
        flex: auto;
        justify-content: center;
        text-align: center;
        max-width: 400px;
        margin-top: 25px;
    }

    .contact__section__contact__icon {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact__section__top {
        padding: 75px 0 40px;
    }

    .testimonials__section__slider__item__text {
        line-height: 1.45;
    }

    .section__title_x {
        font-size: 30px;
    }

    .section__title_x:before {
        top: -27.5px;
    }

    .testimonials__section__slider .slick-prev {
        top: calc(100% + 40px);
    }

    .testimonials__section__slider .slick-next {
        top: calc(100% + 40px);
    }
}

@media screen and (max-width: 700px) {
    .docs__block__item {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .docs__block {
        padding: 75px 0;
    }
}

@media screen and (max-width: 600px) {
    .header__info {
        display: none;
    }

    .header_main {
        padding: 8px 0 12px;
    }

    .promo__section__title {
        font-size: 24px;
    }

    .btn__promo {
        width: 165px;
        font-size: 14px;
        padding: 11px 10px 10px;
    }

    .promo__section__slider ul {
        gap: 7px;
    }

    .promo__section__info {
        padding: 120px 0 45px;
    }

    .welcome__section__2__title {
        font-size: 22px;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .welcome__section__2__text {
        font-size: 15px;
        line-height: 1.4;
        max-width: 350px;
    }

    .welcome__section__2 {
        padding: 75px 20px 40px;
    }

    .welcome__section__1 {
        padding: 50px 0 75px;
    }

    .section__title_x {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .service__section {
        padding: 75px 0;
    }

    .service__section__item {
        flex: 1;
        flex-basis: 250px;
    }

    .service__section__item__inner {
        padding-top: 100%;
    }

    .about__section__tab {
        gap: 25px;
        font-size: 16px;
        margin-bottom: 25px;
        margin-top: -10px;
    }

    .about__section {
        padding: 100px 0 55px;
    }

    .delivery__section__number__item__value {
        font-size: 22px;
    }

    .delivery__section__number__item__text {
        font-size: 12px;
    }

    .delivery__section__number__item {
        padding: 32px 12px;
        border-width: 1px;
    }

    .contact__add__title {
        font-size: 20px;
    }

    .contact__add__block {
        padding: 45px 0;
    }

    .delivery__section {
        margin-bottom: 20px;
    }

    .testimonials__section__slider__item__text {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .testimonials__section__slider__item__inner:before {
        width: 55px;
        height: 55px;
        background-size: contain;
    }

    .section__title_x--testimonials {
        font-size: 24px;
        margin-bottom: 27px;
    }

    .contact__section__contact__icon__item:nth-child(3),
    .contact__section__contact__icon__item:nth-child(2),
    .contact__section__contact__icon__item:nth-child(1) {
        width: 100%;
        max-width: 320px;
        margin-top: 0;
    }

    .contact__section__contact__icon {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .contact__section__contact__icon__item__image img {
        width: 36px;
    }

    .contact__field {
        width: 100%;
    }

    .contact__section__contact__form form {
        max-width: 450px;
        margin: 0 auto;
    }

    .contact__section__contact__inner {
        padding: 60px 0;
    }
}

.header_main.nav-up {
    top: -80px;
}